<h1>Edit {{model.Name}} info</h1>
<div class="container text-center align-items-center justify-content-center">
<div class="col-5 ">
    <div class="container py-2">
        
        <div class="row vertical-center-row">
            <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                <div class="mb-2">
                    <input class="form-control" name="name" [(ngModel)]="model.Name" type="text" placeholder="Login" />
                </div>
                <div class="mb-2">
                    <input class="form-control" name="email" [(ngModel)]="model.Email" type="email" placeholder="Email" />
                </div>
                <select class="form-select" name="Role" [(ngModel)]="model.Role">
                    <option selected value="Admin">Admin</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Customer">Customer</option>
                  </select>
                
                <div style="margin-top: 10px;">
                    <button class="btn btn-success" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>